html{font-size:14px;}
body{
    background-color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

/*** Intro ***/
#intro{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #32babc;
    z-index: 1;
    color: #fff;
    text-align: center;

    &.animated{
        z-index: -1;
    }

    .center-verticle{
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -46px 0 0 -125px;
    }
    img{width:250px;}
    h1{
        margin: 10px;
        font-weight: 600;
    }
}

/*** Logo ***/
#logo{
    padding:15px 20px 15px 15px;
    background-color: #333;
    img{width:100%;}
}

/*** Side Nav ***/
#sideNav{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: rgb(50, 186, 188);

    ul{
        list-style: none;
        padding-left: 15px;

        li{
            color: #f3f3f3;
            font-size: 1.1rem;
            a{
                display: block;
                color: #f3f3f3;
                text-decoration: none;
                padding: 5px 0;
            }
        }
    }
}

/*** Views ***/
#views{
    width: calc(100% - 250px);
    margin-left: 250px;

    >.content{
        overflow: hidden;
        padding: 0 30px;

        h1{
            border-bottom: 2px solid #32babc;
            padding-bottom: 15px;
        }
        p{
            font-size: 1.2rem;
            line-height: 1.5;

            &.note{
                background-color: #dadada;
                padding: 10px;
                border-radius: 4px;
                font-size: 1rem;
            }
        }
    }
}